<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示所有文章</title>
</head>
<style>
    .container {
        border: 1px solid brown;
        margin-bottom: 30px;
        padding: 5px;
    }
</style>
<body>
<div>
    {% for article in articles %}
        <div class="container">
             <div>
                <h3>{{ article.title }}</h3>
                <span>{{ article.user.username }}</span>
                <span>{{ article.pdatetime }}</span>
            </div>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>